<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.logincomponent">
    <application>
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/title_activity_login" />
        <meta-data android:name="com.example.logincomponent.app_1.LoginAppInit" android:value="BaseAppInit"/>
    </application>
</manifest>